<!doctype html>
<html lang="en">
	<head>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	    <meta http-equiv="cleartype" content="on">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <meta name="HandheldFriendly" content="True">
	    <meta name="MobileOptimized" content="400">
	    <meta name="theme-color" content="#fff">
	    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	    <meta name="description" content="bplab.xyz - Pollak lab - Bioautomation">
	    <meta name="keywords" content="Meristem, Base editing, Loop assembly, NBT, fruit cultivars, Garces fruit, precision breeding, cherries">
	    <meta name="author" content="Bernardo Pollak">
	    <meta name="robots" content="index, follow">
	    <title>{{ page.title }}</title>
	    
	    <link rel="icon" type="image/png" href="img/favicon.ico">
	    <link rel="stylesheet" href="css/normalize.css">
	    <link rel="stylesheet" href="css/skeleton.css">
	    <link rel="stylesheet" href="css/extras.css">
	    <link rel="stylesheet" href="css/custom.css">
	</head>
	<body>
		<div class="container">
			<div style="height:120px; width:100%:">
				<a href="/#"><img class="left" style="height: 100px; display: block; margin: 11px;" src="img/Meristem_color.png" alt="Meristem"></a>
			</div>
			<br />

		    <div class="navbar">
		        <ul class="left menu">
		            <li><a class="item" href="/#">Home</a></li>
		            <li><a class="item" href="/technologies">Technologies</a></li>
		            <li><a class="item" href="/contact">Contact</a></li>
		        </ul>
		    </div>  <!-- Navbar /div -->
		    <div style="margin-top: 10px">
    			{{ content }}
		    </div>  
		</div> <!-- Container /div -->
	</body>
</html>